<footer class="footer fixed-bottom py-3 bg-dark text white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-around">
			<div>
				<p class="text-white">Expenses Tracker version: 1.0.0.</p>
			</div>
			<div>
				<p class="text-white">
					All rights reserved - 
					<script>document.write(new Date().getFullYear());</script>
				</p>
			</div>
			<div>
				<p><a href="https://github.com/AlexBlacksmith/exps-tracker" target="_blank" class="nav-link text-white">GitHub Repo.</a></p>
			</div>
		</div>
	</div>
</footer>

<!-- AJAX Script -->
<script type="module" src="js/ajax-client.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.bundle.min.js"></script>
