<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Expenses Tracker</title>

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">

<!-- Bootstrap CSS-->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

<!-- Custom CSS-->
<link type="text/css" rel="stylesheet" href="css/custom.css"/>

<!-- Bootstrap js -->
<script src="js/bootstrap.bundle.min.js"></script>

<!-- EJS js -->
<script src="js/ejs.min.js"></script>
