<header class="p-3 bg-dark text-white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 ms-2 text-white text-decoration-none">
				<img src="img/coin-logo.jpg" alt="Logo" width="50" height="50">
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/categories" class="nav-link px-3 text-white text-uppercase">Categories</a></li>
				<li><a href="/records" class="nav-link px-3 text-white text-uppercase">All Records</a></li>
			</ul>

			<div class="d-flex align-items-center justify-content-center mx-3">
				<h3 class="text-white text-uppercase px-2 py-3 my-0">Total:</h3>
				<span id="totalOutput" class="spent fs-1 px-2">0</span>
			</div>

			<a href="/form-create-record" class="btn btn-outline-warning btn-lg d-none d-lg-inline-block" data-bs-toggle="modal" data-bs-target="#modalFormNewRecord">
				Create Record
			</a>
		</div>
	</div>
</header>