<div class="modal fade" id="modalFormEditRecord" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-body">
                <div class="form-card card bg-dark mt-3">
                    <h5 class="card-header text-white text-center">Edit this Record</h5>
                    <div class="card-body">
                        <form data-edit-record>
                            <div class="form-floating mb-3">
                                <input name="money" type="number" class="form-control" id="floatingInputNumEdit" placeholder="How much" required>
                                <label for="floatingInputNumEdit">How much money was spent?</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="category" class="form-select" id="floatingSelectEdit" required>
                                    <% if (categoriesNames) {
										categoriesNames.forEach(function(category) { %>
											<option value="<%=category.id%>"><%=category.name%></option>
										<% });
                                         } else { %>
										<option value="">No Categories</option>
									<%}%> 
                                </select>
                                <label for="floatingSelectEdit">Choose a Category</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea name="description" class="form-control" id="floatingTextareaEdit" placeholder="Description" required></textarea>
                                <label for="floatingTextareaEdit">Description</label> 
                            </div>
                            <input name="id" type="hidden">
                            <div class="d-flex justify-content-around">
                                <button id="update" type="submit" class="btn btn-outline-warning btn-lg">
                                    Update
                                </button>
                                <a data-delete-button href="#" class="btn btn-outline-warning btn-lg">Delete</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>