<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->

		<!-- MAIN -->
		<main class="main">
			<div class ="container">
				<div class="d-flex flex-wrap align-items-center justify-content-between py-5">
					<h2 class="page-title ms-2 mb-0">List of the Categories</h2>
					<a href="#" class="btn btn-outline-warning btn-lg me-2" data-bs-toggle="modal" data-bs-target="#modalFormNewCategory">Create Category</a>
				</div>

				<div id="output">
					<!-- Empty div for Categories Cards -->
				</div>

			</div>	
		</main>
		<!--/MAIN -->

		<!--Modal Window Form Create Category-->
		<%- include('partials/modal-form-new-category'); -%>
		<!--/Modal Window Form Create Category-->

		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->
	</body>
</html>