<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->

		<!-- MAIN -->
		<main class="main">
			<div class ="container">
				<div class="d-flex flex-wrap align-items-center justify-content-between py-5">
					<h2 class="page-title ms-2 mb-0">List of the Categories</h2>
					<a href="#" class="btn btn-outline-warning btn-lg me-2" data-bs-toggle="modal" data-bs-target="#modalFormNewCategory">Create Category</a>
				</div>

				<div id="output">
					<!-- Empty div for Categories Cards -->
				</div>
				<!-- Category card example -->
				<div class="d-flex justify-content-center">
					<div class="card bg-dark col-10 mb-3">
						<div class="card-header text-white">
							Category name
						</div>
						<div class="card-body">
							<h5 class="card-title text-white">Description</h5>
							<p class="card-text text-white">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
						<div class="card-footer text-end">
							<a href="#" class="btn btn-outline-warning me-2">Edit</a>
							<a href="#" class="btn btn-outline-warning me-2">Delete</a>
  						</div>
					</div>
				</div>
				<!--/Category card example -->
			</div>	
		</main>
		<!--/MAIN -->

		<!--Modal Window Form Create Category-->
		<%- include('partials/modal-form-new-category'); -%>
		<!--/Modal Window Form Create Category-->

		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->

		<!-- Local Storage Script -->
		<script type="text/javascript">
			const form = document.getElementById('new-category');
			//Save form data.
			form.addEventListener('submit', function() {
				const category = {
					name: document.getElementById('floatingInput').value,
					description: document.getElementById('floatingTextarea').value
				}

				localStorage[Math.floor(Math.random() * 50)] = JSON.stringify(category);
			});

			//Read all Records from the Storage by the keys.
			function allStorage() {
			    let values = [];
			    let keys = Object.keys(localStorage);
			    let i = keys.length;

			    while ( i-- ) {
			        values.push(JSON.parse(localStorage[keys[i]]) );
			    }

			    return values;
			}

			let categories = allStorage();

			let card = document.getElementById('output');

			//Insert cards with Categories into template.
			categories.forEach(function(category) {
				card.insertAdjacentHTML('afterbegin', `<div class="d-flex justify-content-center">
															<div class="card bg-dark col-10 mb-3">
																<div class="card-header text-white">
																	<h5  class="card-title text-white">
																		${category.name}
																	</h5>
																</div>
																<div class="card-body">
																	<h5 class="card-title text-white">Description</h5>
																	<p class="card-text text-white">
																		${category.description}
																	</p>
																</div>
																<div class="card-footer text-end">
																	<a href="#" class="btn btn-outline-warning me-2">Edit</a>
										    						<a href="#" class="btn btn-outline-warning me-2">Delete</a>
										  						</div>
															</div>
														</div>`);
			});
		</script>
	</body>
</html>