<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header')%>
		<!--/HEADER -->

		<main>
			<div class="container d-flex justify-content-center">
				
			</div>	
		</main>

		<!-- FOOTER -->
		<%- include('partials/footer') %>
		<!--/FOOTER -->
		
	</body>
</html>