<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->
		<!-- MAIN -->
		<main class="main">
			<div class="container d-flex justify-content-center">
				<div class="d-flex flex-column col-lg-6 align-items-center text-center my-5 py-5">
					<h2 class="page-title">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</h2>
					<a href="/form-create-record" class="btn btn-outline-warning btn-lg my-5" data-bs-toggle="modal" data-bs-target="#modalFormNewRecord">Create Record</a>
				</div>
			</div>	
		</main>
		<!--/MAIN -->
		<!--Modal Window Form Create Record-->
		<%- include('partials/modal-form-new-record'); -%>
		<!--/Modal Window Form Create Record--->
		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->
	</body>
</html>