<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); -%>
    </head>
	<body>
		<!-- HEADER -->
		<%- include('partials/header'); -%>
		<!--/HEADER -->

		<!-- MAIN -->
		<main class="main">
			<div class ="container">
				<div class="d-flex flex-wrap align-items-center justify-content-md-between py-5">
					<h2 class="page-title ms-2 mb-0">Your Statistics</h2>
					<a href="#" class="btn btn-outline-warning btn-lg me-2">Save PDF</a>
				</div>
				<!-- Statistics -->
				<div class="d-flex row justify-content-center justify-content-md-between">
					<div class="card bg-dark col-12 col-md-4 mb-3">
						<div class="card-header text-white">
							Total spent
						</div>
						<div class="card-body py-0">
							<ul class="list-group list-group-flush">
								<li class="list-group-item bg-dark d-flex justify-content-between">
									<span><h5 class="card-title text-white">Today:</h5></span>
									<span class="spent card-text fs-4">100.000</span>
								</li>
								<li class="list-group-item bg-dark d-flex justify-content-between">
									<span><h5 class="card-title text-white">For the current Week:</h5></span>
									<span class="spent card-text fs-4">800.000</span>
								</li>
								<li class="list-group-item bg-dark d-flex justify-content-between">
									<span><h5 class="card-title text-white">For the current Month:</h5></span>
									<span class="spent card-text fs-4">11.000.000</span>
								</li>
								<li class="list-group-item bg-dark d-flex justify-content-between">
									<span><h5 class="card-title text-white">For the current Year:</h5></span>
									<span class="spent card-text fs-4">65.000.000</span>
								</li>
							</ul>
						</div>
						<div class="card-footer text-end">
							<a href="#" class="btn btn-outline-warning me-2">Reset All</a>
  						</div>
					</div>

					<!-- Canvas for Graphs -->
					<div class="canvas-card card bg-dark col-12 col-md-6 mb-3">
						<div class="card-header text-white">
							Visual Perfomance
						</div>
						<div class="card-body py-0">
							<canvas id="graph"></canvas>
						</div>
						<div class="card-footer d-flex justify-content-around">
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
							<a href="#" class="btn btn-outline-warning me-2">Filter</a>
  						</div>
					</div>
					<!--/Canvas for Graphs -->
				</div>
				<!--/Statistics -->
			</div>	
		</main>
		<!--/MAIN -->


		<!-- FOOTER -->
		<%- include('partials/footer'); -%>
		<!--/FOOTER -->
		
	</body>
</html>