* {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

body {
	background-color: #000;
}

h1, h2, h3, h4, h5, h6,
.nav-link {
	font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
	color: #FFC107 !important;
	text-decoration: underline;
}

.page-title,
.spent {
	color: #FFC107
}

.main {
	min-height: 100%;
	padding-bottom: 100px;
}

.form-card {
	width: 500px;
}

.modal-content {
	width: 600px;
}

.record-card {
	width: 19rem;
}