* {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

body {
	background-color: #000;
}

h1, h2, h3, h4, h5, h6,
.nav-link {
	font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
	color: #FFC107 !important;
	text-decoration: underline;
}

.page-title,
.spent {
	color: #FFC107
}

.main {
	min-height: 100%;
	padding-bottom: 100px;
}

.form-card {
	width: 500px;
}

.modal-content {
	width: 600px;
}

.record-card {
	width: 19rem;
}

#graph {
	background-color: #212529;
	border: 2px solid #FFC107;
	width: 600px;
	height: 400px;
}

/**Adaptive cards with modal forms and canvas**/

@media only screen and (max-width: 576px) {
	.form-card {
		width: 300px;
	}

	.modal-content {
		width: 350px;
	}

	.canvas-card {
		width: 360px !important;
	}

	#graph {
		width: 300px !important;
		height: 240px !important;
	}
}

@media only screen and (min-width: 576px) {
	.canvas-card {
		width: 600px !important;
	}

	#graph {
		width: 480px !important;
		height: 360px !important;
	}
}

@media only screen and (min-width: 768px) {
	.canvas-card {
		width: 750px !important;
	}

	#graph {
		width: 625px !important;
		height: 500px !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.canvas-card {
		width: 800px !important;
	}

	#graph {
		width: 750px !important;
		height: 600px !important;
	}
}

@media only screen and (min-width: 1200px) {
	.canvas-card {
		width: 700px !important;
	}

	#graph {
		width: 600px;
		height: 400px;
	}
}