<template id="alert-temp">
    <div data-alert class="alert d-flex align-items-center justify-content-between mb-2 p-1">
        <span data-message class="mx-1"></span>
        <a data-close href="#" class="btn btn-warning btn-sm mx-1">OK</a>
    </div>
</template>