<template id="recordTemp">
    <div data-record-div class="card-footer border-white row d-flex justify-content-between align-items-center text-center">
        <span data-record-date class="col-4 col-lg-2 fs-5 text-white mx-auto"></span>
        <span data-record-category class="col-4 col-lg-2 fs-5 text-white mx-auto"></span>
        <span data-record-money class="col-4 col-lg-2 fs-3 mx-auto spent"></span>
        <span data-record-description class="row mt-3 col-lg-5 fs-5 text-white mt-lg-0 mx-auto"></span>
        <span class="row mt-3 col-lg-1 fs-5 text-white mt-lg-0 mx-auto">
            <a data-edit-button href="#" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalFormEditRecord">
                Edit
            </a>
        </span>
    </div>
</template>