<template id="record-temp">
    <div data-record-div class="record-card card bg-dark col-sm-6 col-md-3 my-3 mx-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark d-flex justify-content-between">
                    <span><h5 class="card-title text-white">Date: </h5></span>
                    <span data-record-date class="card-text text-white"></span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between">
                    <span><h5 class="card-title text-white">Category:</h5></span>
                    <span data-record-category class="card-text text-white"></span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between">
                    <span><h5 class="card-title text-white">Spent:</h5></span>
                    <span data-record-money class="spent card-text fs-4"></span>
                </li>
                <li class="list-group-item bg-dark">
                    <h5 class="card-title text-white">Description</h5>
                    <p data-record-description class="card-text text-white">
                    </p>
                </li>
            </ul>
        </div>
        <div class="card-footer d-flex justify-content-around py-3">
            <a data-edit-button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalFormEditRecord">Edit</a>
            <a data-delete-button class="btn btn-outline-warning">Delete</a>
        </div>
    </div>
</template>