<template id="record-temp">
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">

<!-- Bootstrap CSS-->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

    <div data-record-div class="card-body row d-flex justify-content-between">
        <span class="col-2 fs-5 text-white">
            <slot name="date"></slot>
        </span>
        <span class="col-2 fs-5 text-white">
            <slot name="category-name"></slot>
        </span>
        <span class="col-2 fs-3" style="color: #FFC107;">
            <slot name="spent"></slot>
        </span>
        <span class="col-5 fs-5 text-white">
            <slot name="description"></slot>
        </span>
        <span class="col-1 fs-5 text-white">
            <a data-edit-button href="#" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalFormEditRecord">
                Edit
            </a>
        </span>
    </div>
</template>

<template id="record-slots">
    <span slot="id"></span>
    <span slot="date"></span>
    <span slot="category-id"></span>
    <span slot="category-name"></span>
    <span slot="spent"></span>
	<span slot="description"></span>
</template>